body{
  background-color: rgb(31, 28, 28);
}
.componentname{
  color: rgb(255, 174, 0);
  margin: 1.2rem 0;
  font-size: 1.2rem;
}
.Appname{
  color: rgb(220, 54, 54);
  font-size: 1.2rem;
  margin-top: 1rem;
}
.container{
   height: 170px;
   width: 610px;
   border: 1px solid white;
   text-align: center;
   margin-top: 3rem;

}
.box{
  display: flex;
  justify-content: center;
}
.btn{
  background-color: gray;
}